* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,0.25);
}

.content video {
    height: 100%;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 0;
}

.content__frame {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    transition: all .2s ease-out;
    transform-origin: center;
}

.display--hidden {
    display: none;
}

.display--flex {
    display: flex;
}

.display--grid {
    display: grid;
}

.scale--off {
    transform: scale(0);
    background-color: rgba(255,255,255,0.0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.scale--on {
    transform: scale(1);
    background-color: rgba(255,255,255,0.5);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.content__frame .frame__link {
    height: 200px;
    width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.link__instagram {
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
}

.link__instagram--text {
    transform: translateX(22%);
    -webkit-transform: translateX(22%);
    -moz-transform: translateX(22%);
    -ms-transform: translateX(22%);
    -o-transform: translateX(22%);
}

.link__mail {
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
}

.link__mail--text--name {
    transform: translateX(36%);
    -webkit-transform: translateX(36%);
    -moz-transform: translateX(36%);
    -ms-transform: translateX(36%);
    -o-transform: translateX(36%);
}

.link__mail--text--domain {
    transform: translateX(15%);
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
}

.link__gallery {
    transform: translateX(22%);
    -webkit-transform: translateX(22%);
    -moz-transform: translateX(22%);
    -ms-transform: translateX(22%);
    -o-transform: translateX(22%);
}

.link__gallery--text {
    transform: translateX(33%);
    -webkit-transform: translateX(33%);
    -moz-transform: translateX(33%);
    -ms-transform: translateX(33%);
    -o-transform: translateX(33%);
}
.content__frame svg {
    width: 100%;
    height: 100%;
    fill: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}


.content__frame text {
    text-transform: uppercase;
    font-size: 0.2rem;
}
.content__frame svg:hover {
    fill: rgba(0,0,0,1);
    text-decoration: none;
}

.content__gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template-columns: 95% 5%;
    transition: all .2s ease-out;
    z-index: 100;
    transform-origin: center;
}

.gallery__images {
    max-width: 100%;
    max-height: 100vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    
}

.gallery__images::-webkit-scrollbar {
    display: none;
}

.icons {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 1%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.icons:focus {
    border: none;
    background: none;
    outline: none;
}

.icons__close {
    top: 4%;
}


.icons__up {
    top: 15%;
    visibility: hidden;
}

.icons__down {
    bottom: 4%;
    visibility: visible;
}

.gallery__icons svg {
    fill:rgba(255, 255, 255, 0.8);
    height: 30px;
    width: 30px;
}

.gallery__icons svg:hover {
    fill: rgba(255, 255, 255, 1.0);
}

.images__item {
    width: 20vh;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.images__item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.imagePopUp {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vh;
    background:rgba(255, 255, 255, 0.0);
    z-index: 100;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.imagePopUp__button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 200;
}

.imagePopUp__button--left {
    top: 50%;
    left: 3%;
    height: 50px;
    width: 50px;
    visibility: hidden;

}

.imagePopUp__button--right {
    top: 50%;
    right: 3%;
    width: 50px;
    height: 50px;
    visibility: hidden;

}

.imagePopUp__button:active,
.imagePopUp__button:focus {
    background: none;
    border: none;
    outline: none;
}

.imgPopUp {
    height: 80%;
    width: 80%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .1s ease-in-out;
    -webkit-transition: transform .1s ease-in-out;
    -moz-transition: transform .1s ease-in-out;
    -ms-transition: transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    visibility: hidden;
}


@media screen and (orientation: portrait) and (max-width: 500px) {
    .content__frame {
        width: 80%;
        height: 80%;
        flex-direction: column;
    }
    
    
    .content__frame .frame__link {
        height: 35vw;
        width: 35vw;
        
    }
    
    .content__gallery {
        grid-template-columns: 100% auto;
    }

    .gallery__icons {
        display: none;
    }
    
    .icons {
        right: 3%;
    }
    
    
    .images__item {
        width: 15vh;
        height: 15vh;
    }
    
    .imagePopUp {
        width: 90vw;
        height: 120vw;
    }
    
    .imagePopUp__button {
        right: 10px;
    }
    
    .imagePopUp__button--left,
    .imagePopUp__button--right {
        opacity: 0.2;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
}
    
    .imagePopUp__button--right {
        top: 50%;
        right: 3%;
        width: 50px;
        height: 50px;
        visibility: hidden;
    
    }
    .imgPopUp {
        width: 80%;
        height: auto;
    }
}